MYSQL_ROOT_PASSWORD=troque_esta_senha_root
MYSQL_DATABASE=sistema_gestao_consultas
MYSQL_USER=dentix_user
MYSQL_PASSWORD=troque_esta_senha
JWT_SECRET=troque_por_uma_chave_jwt_forte_com_mais_de_32_caracteres
APP_CRYPTO_SECRET_KEY=troque_por_uma_chave_base64_de_32_bytes
FRONTEND_PATH=/home/ubuntu/gestao-dental